@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Wellfleet';
  src: url('/fonts/Wellfleet-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

body {
  color: #F9F4DA !important;
  background-color: #231F20 !important;
  /* text-shadow: 
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000; */
}

.character-card {
  box-shadow: 10px 10px #F9F4DA;
  border: #F9F4DA 2px solid;
  text-shadow: 
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px  1px 0 #000,
     1px  1px 0 #000;
}



nav>button {
  box-shadow: 4px 4px #231F20;
  border: #231F20 2px solid;
}
nav>div>span>input {
  text-shadow: 
    -1px -1px 0 #555,
     1px -1px 0 #555,
    -1px  1px 0 #555,
     1px  1px 0 #555;
}

h1 {
  color: #00DCF7;
  text-shadow: 
    -2px -2px 0 #000,
     2px -2px 0 #000,
    -2px  2px 0 #000,
     2px  2px 0 #000;
}